<app-background></app-background>

<div id="xmb-container">
  <ul id="xmb-menu">
    <li *ngFor="let menuList of menu.lists" [class.active]="menuList.active" [style.transform]="'translateX(' + -menu.listIndex * 100 + 'px)'">
      <div class="cell" [class.active]="menuList.active">
        <i class="material-icons xmb-icon">{{menuList.title}}</i> <label>{{menuList.icon}}</label>
      </div>
      <ul class="xmb-submenu" [style.transform]="'translateY(' + -menuList.elementIndex * 100 + 'px)'">
        <li *ngFor="let menuElement of menuList.items" class="cell submenu" [class.active]="menuElement.active">
          <i class="material-icons xmb-icon">{{menuElement.icon}}</i>
          <div class="description">
            <label>{{menuElement.icon}} <label class="subtitle">{{menuElement.subtitle}}</label></label>
          </div>
        </li>
      </ul>
    </li>
  </ul>
</div>
