:host {
  color: white;
  width: 100%;
  height: 100%;
  display: block;
}

:host * {
  color: white;
}

#xmb-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

#xmb-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  transition: all 0.3s;
}
